html, body {
    height: 100%;
}

.background {
    background-image: url("/data/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.login-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    text-align: center;
}

.login-form {
    width: 100%;
    max-width: 330px;
    margin: auto;
    background-color: white;
}

@media (min-width: 768px) {
    .register-container {
        height: 100vh;
    }
}
