<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^(site\.webmanifest) - [NC,L]
	RewriteRule ^([^/]+\.png|[^/]+\.ico) - [NC,L]
	RewriteRule ^(js/|css/|data/) - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>
